@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply bg-white dark:bg-medium-gray dark:text-white themeTransition 
}

h1 {
  @apply text-3xl font-bold text-gray-900 dark:text-white themeTransition
}

h2 {
  @apply text-xl font-semibold text-gray-900 dark:text-white themeTransition
}

h4 {
  @apply font-semibold text-gray-900 dark:text-white themeTransition
}

p {
  @apply text-sm text-gray-600 dark:text-gray-400 themeTransition
}

.themeTransition {
  @apply transition-colors duration-300
}

.sideBarButton {
  @apply relative flex flex-row items-center h-10 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 
  border-l-4 border-transparent hover:border-orange-600 pr-6 transition duration-200
}

.sideBarCategories {
  @apply flex flex-row items-center h-8
}

.sideBarCategoriesText {
  @apply text-sm tracking-wide dark:text-gray-400 text-gray-900 font-semibold themeTransition
}

.sideBarIcon {
  @apply inline-flex justify-center items-center ml-4
}

.sideBarIconText {
  @apply ml-2 text-[13px] tracking-wide truncate dark:text-light-gray text-dark-gray
}

.sideBarIconSize {
  @apply w-4 h-4
}

.tabButton {
  @apply cursor-pointer inline-flex p-4 border-b-2 border-transparent 
  hover:border-orange-600 dark:hover:text-gray-300 transition duration-500
}

.buttonWithIcon {
  @apply flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-transparent 
  border gap-x-2  dark:text-gray-200 dark:border-gray-700 hover:bg-orange-600 hover:text-white
}

.button {
  @apply px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-transparent 
  border gap-x-2  dark:text-gray-200 dark:border-gray-700 hover:bg-orange-600 hover:text-white
}

.react-colorful__last-control {
  border-radius: 0 0 0 0 !important;
}

.uppy-Dashboard-files {
  background: #2d2c2c !important;
  color: white !important;

}

.uppy-Dashboard-Item-previewInnerWrap {
  background: orange !important;
}

.uppy-Dashboard-Item-previewIcon > .uppy-c-icon > path {
  fill: orange !important;
}

.uppy-DashboardContent-bar {
  background: #111 !important;
  color: white !important;
}

.uppy-DashboardContent-addMore > .uppy-c-icon > path {
  fill: white !important;
}
.uppy-DashboardContent-addMore:hover > .uppy-c-icon > path {
  fill: orange !important;
  transition-duration: 500ms;
}

.uppy-DashboardContent-back:hover {
  color: orange !important;
  transition-duration: 500ms;
}
.uppy-DashboardContent-back {
  color: white !important;
}

.uppy-Dashboard-inner {
 @apply !border-none !w-[750px] !h-[450px]
}

.uppy-Dashboard-innerWrap {
  background: rgb(70, 70, 70) !important;
  border-radius: 0 0 0 0 !important;
}

.uppy-Dashboard-AddFiles-title {
  color: white !important;
}

.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse {
  color: orange !important;
}

.uppy-Dashboard-AddFiles {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.uppy-StatusBar.is-uploading {
  background: #3e3e3e !important;
  color: white !important;
}

.uppy-StatusBar-statusPrimary {
  color: white !important;
}

.uppy-StatusBar-statusSecondary {
  color: rgb(212, 212, 212) !important;
}

.uppy-StatusBar-spinner > path {
  @apply fill-orange-600
}

.uppy-StatusBar-progress {
  @apply !bg-orange-600
}

.pswp__img {
  object-fit: contain;
}

.gradient-container {
 
  background-size: 400% 400%;

  -webkit-animation: clientAnimation 6s ease infinite;
  -moz-animation: clientAnimation 6s ease infinite;
  animation: clientAnimation 6s ease infinite;
}

@-webkit-keyframes clientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes clientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes clientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.snapshot-generator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}